<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{{ active.name }} - Vehículo Agrónomo</title>
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="css/sb-admin-2.min.css" rel="stylesheet" type="text/css">
  {% block style %}{% endblock %}
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-tractor"></i>
        </div>
        <div class="sidebar-brand-text mx-3">{{ data['name'] }}</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Navigation items -->
      {% for key, value in data['navigation'].items() %}
        <li class="nav-item {% if value.name == active.name %} active {% endif %}">
          <a class="nav-link" href="{{ value.url }}">
            <i class="fas fa-fw {{ value.icon }}"></i>
            <span>{{ value.name }}</span></a>
        </li>
      {% endfor %}

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <span class="nav-link text-secondary">
                      <span id="connectionStatusOff">
                        <i class="fas fa-times fa-sm mr-2 text-danger"></i> 
                        Desconectado
                      </span>
                      <span id="connectionStatusOn" class="d-none">
                        <i class="fas fa-check fa-sm mr-2 text-success"></i> 
                        Conectado
                      </span>
                  </span>
              </li>
              
              <div class="topbar-divider d-none d-sm-block"></div>

              <li class="nav-item">
                <span class="nav-link text-secondary">
                    <i id="batteryStatusFull" class="d-none fas fa-battery-full fa-sm mr-2 text-success"></i> 
                    <i id="batteryStatusThreeQuarters" class="d-none fas fa-battery-three-quarters fa-sm mr-2 text-success"></i> 
                    <i id="batteryStatusHalf" class="d-none fas fa-battery-half fa-sm mr-2 text-warning"></i> 
                    <i id="batteryStatusQuarter" class="d-none fas fa-battery-quarter fa-sm mr-2 text-danger"></i> 
                    <i id="batteryStatusEmpty" class="d-none fas fa-battery-empty fa-sm mr-2 text-danger"></i>
                    <i id="batteryStatusOff" class="fas fa-battery-empty fa-sm mr-2 text-muted"></i>
                    <span class="d-none d-sm-block">Batería</span>
                    <span class="d-block d-sm-none">Bat</span>
                </span>
              </li>
              <div class="topbar-divider d-none d-sm-block"></div>
              <li class="nav-item">
                <a class="nav-link" href="https://www.udem.edu.mx">
                  <img src="img/udem_logo.jpg" alt="UDEM">
                </a>
              </li>
            </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="align-items-center justify-content-between mb-4 clearfix">
            <h3 class="mb-0 text-gray-800 float-left">{{ active.name }}</h3>
            <button type="button" id="shutdown" class="float-right btn btn-sm btn-danger shadow-sm">
              <i class="fas fa-power-off fa-sm text-white-50 mr-2"></i>
              Shutdown
            </button>
          </div>

          <!-- Content Row -->
          {% block content %}{% endblock %}

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>{{ data.copyright }}</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Javascript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="vendor/socket.io/socket.io.js"></script>
  <script src="vendor/sb-admin-2/sb-admin-2.min.js"></script>
  {% block scripts %}
  {% endblock %}
</body>

</html>
