{% extends 'base.html' %}

{% block content %}
<div class="row">

  <!-- Velocity Analytics -->
  <div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-primary shadow alt">
      <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between ">
        <h6 class="m-0 font-weight-bold text-primary">GPS</h6>
        <div class="col-auto">
          <i class="fas fa-globe-americas text-gray-300"></i>
        </div>
      </div>
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col text-primary">
              Mapa
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Acceleration Analytics -->
  <div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-success shadow alt">
      <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between ">
        <h6 class="m-0 font-weight-bold text-success">Cámara Frontal</h6>
        <div class="col-auto">
          <i class="fas fa-camera text-gray-300"></i>
        </div>
      </div>
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col text-success text-center">
              <img id="frontCamera" class="img-fluid" alt="Cámara Frontal" src="img/no-image.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Content Row -->

<div class="row">
   <!-- Geographic Analytics -->
  <div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-info shadow alt">
      <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between ">
        <h6 class="m-0 font-weight-bold text-info">Control</h6>
        <div class="col-auto">
          <i class="fas fa-cogs text-gray-300"></i>
        </div>
      </div>
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col text-info">
            Control
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Time Analytics -->
  <div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-warning shadow alt">
      <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-warning">Cámara Trasera</h6>
        <div class="col-auto">
          <i class="fas fa-camera text-gray-300"></i>
        </div>
      </div>
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col text-warning text-center">
            <img id="rearCamera" class="img-fluid" alt="Cámara Trasera" src="img/no-image.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
{% endblock %}

{% block scripts %}
  <script type="module" src='js/control.js'></script>
  <script src='vendor/leaflet/leaflet.js'></script>
{% endblock %}