{% extends 'base.html' %}

{% block style %}
  <link href="vendor/leaflet/leaflet.css" rel="stylesheet" type="text/css">
  <style>
    #satellites {
      border-right: 1px solid #e3e6f0;
      padding-right: 1rem;
      margin-right: 1rem;
    }
    #map {
      height: 100px;
    }
    #control {
      width: 100%;
      height: 100px;
    }
  </style>
{% endblock %}

{% block content %}
<div class="row">

  <!-- Velocity Analytics -->
  <div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-primary shadow alt">
      <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between ">
        <h6 class="m-0 font-weight-bold text-primary">GPS</h6>
        <div class="col-auto clearfix">
          <div id="satellites" class="ml-auto float-left">
            <i id="satelliteGreen" class="mr-2 fas fa-satellite-dish text-success d-none"></i>
            <i id="satelliteYellow" class="mr-2 fas fa-satellite-dish text-warning d-none"></i>
            <i id="satelliteGray" class="mr-2 fas fa-satellite-dish text-gray-300"></i>
            <span id="satelliteCount" class="text-secondary small">0 / 12</span>  
          </div>
          <div id="mapOnline" class="d-none float-right">
            <i class="mr-2 fas fa-wifi text-success"></i>
            <span class="text-secondary small">Con Internet</span>  
          </div>
          <div id="mapOffline" class="float-right">
              <i class="mr-2 fas fa-wifi text-gray-300"></i>
              <span class="text-secondary small">Sin Internet</span>  
            </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col">
              <div id="map">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Acceleration Analytics -->
  <div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-success shadow alt">
      <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between ">
        <h6 class="m-0 font-weight-bold text-success">Cámara Frontal</h6>
        <div class="col-auto">
          <i class="fas fa-camera text-gray-300"></i>
        </div>
      </div>
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col text-center">
              <img id="frontCamera" class="img-fluid" alt="Cámara Frontal" src="img/no-image.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Content Row -->

<div class="row">
   <!-- Geographic Analytics -->
  <div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-info shadow alt">
      <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between ">
        <h6 class="m-0 font-weight-bold text-info">Control</h6>
        <div class="col-auto">
          <i class="fas fa-cogs text-gray-300"></i>
        </div>
      </div>
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col" id="canvasContainer">
            <canvas id="control"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Time Analytics -->
  <div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-warning shadow alt">
      <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-warning">Cámara Trasera</h6>
        <div class="col-auto">
          <i class="fas fa-camera text-gray-300"></i>
        </div>
      </div>
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col text-center">
            <img id="rearCamera" class="img-fluid" alt="Cámara Trasera" src="img/no-image.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
{% endblock %}

{% block scripts %}
  <script src='vendor/leaflet/leaflet.js'></script>
  <script type="module" src='js/control.js'></script>
{% endblock %}